// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  background: url(home/home-page.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -20px;
}

.form-holder {
  width: 400px;
  position: relative;
  top: 40px;
  left: 40px;
  background-color: rgba(#17202a, 0.9);
  border-radius: 5px;
}
