// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  height: 100vh;
}

.form-holder {
  width: 400px;
  background-color: #0005;
  border-radius: 5px;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#000, 0.6),
      rgba(#000, 0.6)
    ),
    url(Citybikes_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 0, -80px;
}

.form-control {
  border-radius: 0 !important;
  background: #eee !important;
  color: #eee;
}

.btn {
  border-radius: 0 !important;
}
