// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  height: 100vh;
}

.form-holder {
  width: 400px;
  background-color: #0005;
  border-radius: 5px;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#000, 0.6),
      rgba(#000, 0.6)
    ),
    asset-data-url("Citybikes_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 0, -80px;
}

.form-control {
  border-radius: 0 !important;
  background: #eee !important;
}

.btn {
  border-radius: 0 !important;
}

.carousel {
  top: 20%;
  max-height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.397) !important;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.carousel-caption p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200 !important;
}

.showcase {
  max-height: 300px;
  margin-bottom: 1em;
  overflow: hidden;
}

.showcase img {
  height: 100% !important;
  object-fit: contain;
  transition: transform 0.3s;
}

.showcase .card-img-overlay {
  background: #0005;
}

.showcase .card-text {
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: 200 !important;
}

.showcase:hover {
  cursor: pointer;

  & img {
    transform: scale(1.009);
  }
}
